/* App.css or create a separate CSS file for your styles */

/* Style for the login and register containers */
.login-container,
.register-container {
  max-width: 300px;
  min-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
}

/* Style for headings */
h2 {
  text-align: center;
  color: #333;
}

/* Style for form elements */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="email"],
input[type="password"] {
  width: 90%;
  margin: 0 auto; /* Center the input fields horizontally */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

/* Style for buttons */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style for the "swap" button */
.swap-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #D22B2B;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.swap-button:hover {
  background-color: #961515;
}

/* Error message style */
.error-message {
  text-align: center;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Center the login/register container vertically */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: #607d8b;
  font-family: 'Open Sans', sans-serif;
}

/* Media query for responsiveness (adjust as needed) */
@media screen and (max-width: 600px) {
  .login-container,
  .register-container {
    max-width: 100%;
    padding: 10px;
  }
}
